.address{
    font-size: 25;
    color: black;
    
}

.device {
    font-size: 20;
    color: black;
    padding-top: 20;
    padding-bottom: 20;
    background-color: aliceblue;
    padding-left: 20;
}
.zone {
    padding-left: 20;
    padding-right: 20;
}
